body{
    margin: 0;

}
.top-container{
    background-image: url("https://images.unsplash.com/photo-1537498425277-c283d32ef9db?q=80&w=1478&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 100vh;
    color: white;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.top-container h1{
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: 900;
}
.text{
    margin: 50px 5%;
}
.navbar{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0  4px 8px rgba(0, 0, 0, .3);
    transition:  background-color 0.4s;

}
.navbar ul{
display: flex;
list-style: none;


}
.navbar ul li a{
    text-decoration: none;
    margin: 0 50px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    
}
.navbar ul li a:hover{
    color: red;
}
.navbar.active{
background-color: black;
}
.navbar.active ul li a{
    color: white;
}
