nav{
    display: flex;
}
body{
    background-color: black;
}


.link{
    border: 1px solid;
        padding: 5px;
        gap: 1.6rem;
        display: flex;
        text-decoration: none;
        color: white;
        width: 32%;
        padding-left: 10px;
        text-align: center;
        justify-content: center;
        background: transparent;
        align-items: center;
        backdrop-filter: blur(20px);
        border-color: rgb(97, 93, 87);
        border-radius: 10px;
    }
    .link li{
        list-style: none;
        padding: 10px;
       font-size: 1.5rem;
    }
    .link li a{
        color: aliceblue;
        text-decoration: none;
    }
    .link a:hover{
        color: yellow;
        transition: 0.3s;
        
    }
   
    .menu{
        background-color: black;
        color: yellow;
        padding: 0;
        border-radius: 15px;
        width: 10%;
        border-color: yellow;
        font-size: 1.5rem;
        float: right;
        position: relative;
        left: 40%;
    }
    .menu1{
        position: relative;
        left: 45%;
        background-color: black;
        border: none;
        cursor: pointer;
        /* display: none; */
    }
    .vector {
        padding-left: 10px;
        height: 10px;
    }
    .logo a:hover{
        filter: drop-shadow(30px 30px 40px yellow);
        color:yellow;
        transition: box-shadow 0.3s; }

        .menu:hover{
            background-color: yellow;
        
            box-shadow: 0 4px 20px rgba(255, 255, 0, 0.781);
            color: black;
            transition: box-shadow 0.3s;}

            .container {
                display: flex;
                align-items: center;
                padding: 20px;
              
               
            }
            .grid-container {
                margin: auto;
                margin-top: 5%;
              
                border:  1px solid white;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 0.2fr 3fr 0.4fr;
                gap: 10px;
            
                color: green;
                width: 600px;
                height: 600px;
                border-radius: 8px;
                
            }
            .white1, .white2, .white3, .white4, .white5{
                background-color: white;
            
            }
            .white1{
                background-color: aliceblue;
                grid-column: 1;
                grid-row: 1;
                border-radius: 5px 1px 1px;
                
                
            }
            .yellow{
                display: grid;
                background-color: yellow;
                border-radius: 1px 4px 1px;
            }
            .yellow2{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                background-color: black;
                gap: 10px;

            }
            .white2{
                background-color: yellow;
                gap: 10px;
            }
            .white3{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                background-color: black;
                gap: 10px;
            }

            .red{
                background-color: red;
            }
            .white6{
               background-color: white;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-columns: 1fr 1fr;
                border-radius: 5px ;
                
            }.black1{
               
                background-color: black;
                border-radius: 5px ;
            }
        

            .black{
                background-color: whitesmoke;
                
                border-top-right-radius: 3px 4px;
                
             
            }
           
            
              

            .footer1 {
                margin-top: 4%;
                  padding: 20px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  border-top: 1px solid #333;
              }
              .left {
                  display: flex;
                  align-items: center;
              }
              .logo {
                  margin-right: 10px;
              }
              .right a {
                  color: rgba(255, 255, 255, 0.7);
                  margin-right: 60px;
                  text-decoration: none;
              }
              .icons img {
                  width: 24px;
                  height: 24px;
                  margin-left: 10px;
              }
              .icons {
                 /* margin: auto; */
                 display: flex;
                 /* justify-content: space-between; */
                 justify-content: end;
              
              }
              .icons a{
                  margin-right: 10px;
              }
            

              
              .quta{
                  color: bisque;
                  position: relative;
                  right: 94%;
              }
              .left a:hover{
                  filter: drop-shadow(2px 2px 40px yellow);
                  color:yellow;
                  transition: box-shadow 0.3s; }
                  .right a:hover{
                      color: aliceblue;
                  transition: 0.3s;}

       .dashboard{
        /* display: flex; */
        /* display: grid; */
        /* border: 1px solid wheat; */
        /* margin: auto; */
        /* margin-left: 36%; */
                /* margin-top: 5%; */
                /* background-color: burlywood; */
                /* border:  1px solid white; */
                
    
                /* grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 3fr 1fr 4fr; */
                /* gap: 10px; */
                /* gap: 5rem; */
                /* color: green; */
                /* width: 600px;
                height: 600px; */
                /* border-radius: 8px; */
                
                /* grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 3fr 1fr 4fr; */
                /* border: 1px solid white; */
       }
       aside{
        background-color: whitesmoke;
       }
 .dashboard-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:    4fr;
    gap: 10px;
    width: 600px;
    height: 350px; 
    background-color: yellow;
    border: 1px solid white;
    text-align: center;
    margin: auto;
     margin-top: 5%; 
  

 }
.Secound-block{
    /* display: grid; */
    display: flex;
    /* background-color: #333; */
    gap: 1.5rem;
    padding-top: 5%;
    justify-content: center;
    
    
}
.child1{
    background-color: red;
    /* padding: 10px; */
    height: 30px;
    padding: 30px;
}
.child2{
  background-color: deeppink;
    padding: 10%;
    height: 30px;
    padding: 30px;
   
}
.child3{
    background-color: cadetblue;
    padding: 10%;
    height: 30px;
    padding: 30px;
}

.magicpattern1 { 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 1397.656c6.8-2.204 20.4-5.302 34-11.02 13.6-5.718 20.4-8.545 34-17.569 13.6-9.024 20.4-20.11 34-27.55 13.6-7.44 20.4-1.883 34-9.647 13.6-7.763 20.4-19.639 34-29.172 13.6-9.533 20.4-6.148 34-18.494 13.6-12.347 20.4-38.512 34-43.24 13.6-4.727 20.4 11.945 34 19.603 13.6 7.657 20.4 22.734 34 18.686 13.6-4.048 20.4-13.014 34-38.926 13.6-25.913 20.4-85.159 34-90.636 13.6-5.477 20.4 45.06 34 63.251 13.6 18.19 20.4 47.594 34 27.703 13.6-19.89 20.4-95.072 34-127.155 13.6-32.083 20.4-45.495 34-33.26 13.6 12.235 20.4 90.528 34 94.435 13.6 3.906 20.4-46.4 34-74.902 13.6-28.5 20.4-64.356 34-67.603 13.6-3.246 20.4 60.293 34 51.372 13.6-8.92 20.4-95.263 34-95.974 13.6-.711 20.4 80.333 34 92.417 13.6 12.085 20.4 7.506 34-31.996 13.6-39.502 20.4-120.828 34-165.515 13.6-44.687 20.4-55.357 34-57.92 13.6-2.562 20.4 20.08 34 45.108 13.6 25.028 20.4 82.388 34 80.03 13.6-2.36 20.4-79.312 34-91.824 13.6-12.513 20.4 14.198 34 29.26 13.6 15.062 20.4 78.093 34 46.05 13.6-32.043 20.4-157.026 34-206.266 13.6-49.24 20.4-26.26 34-39.935 13.6-13.675 20.4-80.485 34-28.44 13.6 52.044 20.4 233.405 34 288.664 13.6 55.258 20.4 48.672 34-12.372 13.6-61.043 20.4-231.37 34-292.846 13.6-61.476 20.4 8.248 34-14.533 13.6-22.78 20.4-156.124 34-99.372 13.6 56.753 20.4 344.095 34 383.135 13.6 39.04 20.4-106.8 34-187.937 13.6-81.139 20.4-236.275 34-217.753 13.6 18.521 20.4 292.107 34 310.36 13.6 18.254 20.4-175.402 34-219.094 13.6-43.692 20.4 8.944 34 .635 13.6-8.31 20.4-86.453 34-42.18 13.6 44.273 20.4 291.351 34 263.545 13.6-27.806 20.4-401.696 34-402.575 13.6-.88 20.4 429.425 34 398.178 13.6-31.247 20.4-460.283 34-554.413 13.6-94.13 20.4 69.316 34 83.762 13.6 14.447 20.4-4.33 34-11.53 13.6-7.2 20.4-21.383 34-24.47 13.6-3.086 20.4-50.636 34 9.039 13.6 59.674 20.4 310.864 34 289.332 13.6-21.532 20.4-336.816 34-396.994 13.6-60.178 20.4-1.09 34 96.106 13.6 97.195 20.4 392.446 34 389.872 13.6-2.574 20.4-299.94 34-402.743 13.6-102.802 27.2-89.014 34-111.267L2000 1400H0Z%22 fill=%22%23444cf71a%22%2F%3E%3Cpath d=%22M0 1397.656c6.8-2.204 20.4-5.302 34-11.02 13.6-5.718 20.4-8.545 34-17.569 13.6-9.024 20.4-20.11 34-27.55 13.6-7.44 20.4-1.883 34-9.647 13.6-7.763 20.4-19.639 34-29.172 13.6-9.533 20.4-6.148 34-18.494 13.6-12.347 20.4-38.512 34-43.24 13.6-4.727 20.4 11.945 34 19.603 13.6 7.657 20.4 22.734 34 18.686 13.6-4.048 20.4-13.014 34-38.926 13.6-25.913 20.4-85.159 34-90.636 13.6-5.477 20.4 45.06 34 63.251 13.6 18.19 20.4 47.594 34 27.703 13.6-19.89 20.4-95.072 34-127.155 13.6-32.083 20.4-45.495 34-33.26 13.6 12.235 20.4 90.528 34 94.435 13.6 3.906 20.4-46.4 34-74.902 13.6-28.5 20.4-64.356 34-67.603 13.6-3.246 20.4 60.293 34 51.372 13.6-8.92 20.4-95.263 34-95.974 13.6-.711 20.4 80.333 34 92.417 13.6 12.085 20.4 7.506 34-31.996 13.6-39.502 20.4-120.828 34-165.515 13.6-44.687 20.4-55.357 34-57.92 13.6-2.562 20.4 20.08 34 45.108 13.6 25.028 20.4 82.388 34 80.03 13.6-2.36 20.4-79.312 34-91.824 13.6-12.513 20.4 14.198 34 29.26 13.6 15.062 20.4 78.093 34 46.05 13.6-32.043 20.4-157.026 34-206.266 13.6-49.24 20.4-26.26 34-39.935 13.6-13.675 20.4-80.485 34-28.44 13.6 52.044 20.4 233.405 34 288.664 13.6 55.258 20.4 48.672 34-12.372 13.6-61.043 20.4-231.37 34-292.846 13.6-61.476 20.4 8.248 34-14.533 13.6-22.78 20.4-156.124 34-99.372 13.6 56.753 20.4 344.095 34 383.135 13.6 39.04 20.4-106.8 34-187.937 13.6-81.139 20.4-236.275 34-217.753 13.6 18.521 20.4 292.107 34 310.36 13.6 18.254 20.4-175.402 34-219.094 13.6-43.692 20.4 8.944 34 .635 13.6-8.31 20.4-86.453 34-42.18 13.6 44.273 20.4 291.351 34 263.545 13.6-27.806 20.4-401.696 34-402.575 13.6-.88 20.4 429.425 34 398.178 13.6-31.247 20.4-460.283 34-554.413 13.6-94.13 20.4 69.316 34 83.762 13.6 14.447 20.4-4.33 34-11.53 13.6-7.2 20.4-21.383 34-24.47 13.6-3.086 20.4-50.636 34 9.039 13.6 59.674 20.4 310.864 34 289.332 13.6-21.532 20.4-336.816 34-396.994 13.6-60.178 20.4-1.09 34 96.106 13.6 97.195 20.4 392.446 34 389.872 13.6-2.574 20.4-299.94 34-402.743 13.6-102.802 27.2-89.014 34-111.267%22 fill=%22none%22 stroke=%22%23444cf7%22 stroke-width=%224%22%2F%3E%3Cg fill=%22%23444cf7%22%3E%3Ccircle cy=%221397.656%22 r=%228%22%2F%3E%3Ccircle cx=%2234%22 cy=%221386.636%22 r=%228%22%2F%3E%3Ccircle cx=%2268%22 cy=%221369.067%22 r=%228%22%2F%3E%3Ccircle cx=%22102%22 cy=%221341.517%22 r=%228%22%2F%3E%3Ccircle cx=%22136%22 cy=%221331.87%22 r=%228%22%2F%3E%3Ccircle cx=%22170%22 cy=%221302.698%22 r=%228%22%2F%3E%3Ccircle cx=%22204%22 cy=%221284.204%22 r=%228%22%2F%3E%3Ccircle cx=%22238%22 cy=%221240.964%22 r=%228%22%2F%3E%3Ccircle cx=%22272%22 cy=%221260.567%22 r=%228%22%2F%3E%3Ccircle cx=%22306%22 cy=%221279.253%22 r=%228%22%2F%3E%3Ccircle cx=%22340%22 cy=%221240.327%22 r=%228%22%2F%3E%3Ccircle cx=%22374%22 cy=%221149.691%22 r=%228%22%2F%3E%3Ccircle cx=%22408%22 cy=%221212.942%22 r=%228%22%2F%3E%3Ccircle cx=%22442%22 cy=%221240.645%22 r=%228%22%2F%3E%3Ccircle cx=%22476%22 cy=%221113.49%22 r=%228%22%2F%3E%3Ccircle cx=%22510%22 cy=%221080.23%22 r=%228%22%2F%3E%3Ccircle cx=%22544%22 cy=%221174.665%22 r=%228%22%2F%3E%3Ccircle cx=%22578%22 cy=%221099.763%22 r=%228%22%2F%3E%3Ccircle cx=%22612%22 cy=%221032.16%22 r=%228%22%2F%3E%3Ccircle cx=%22646%22 cy=%221083.532%22 r=%228%22%2F%3E%3Ccircle cx=%22680%22 cy=%22987.558%22 r=%228%22%2F%3E%3Ccircle cx=%22714%22 cy=%221079.975%22 r=%228%22%2F%3E%3Ccircle cx=%22748%22 cy=%221047.979%22 r=%228%22%2F%3E%3Ccircle cx=%22782%22 cy=%22882.464%22 r=%228%22%2F%3E%3Ccircle cx=%22816%22 cy=%22824.544%22 r=%228%22%2F%3E%3Ccircle cx=%22850%22 cy=%22869.652%22 r=%228%22%2F%3E%3Ccircle cx=%22884%22 cy=%22949.682%22 r=%228%22%2F%3E%3Ccircle cx=%22918%22 cy=%22857.858%22 r=%228%22%2F%3E%3Ccircle cx=%22952%22 cy=%22887.118%22 r=%228%22%2F%3E%3Ccircle cx=%22986%22 cy=%22933.168%22 r=%228%22%2F%3E%3Ccircle cx=%221020%22 cy=%22726.902%22 r=%228%22%2F%3E%3Ccircle cx=%221054%22 cy=%22686.967%22 r=%228%22%2F%3E%3Ccircle cx=%221088%22 cy=%22658.526%22 r=%228%22%2F%3E%3Ccircle cx=%221122%22 cy=%22947.191%22 r=%228%22%2F%3E%3Ccircle cx=%221156%22 cy=%22934.819%22 r=%228%22%2F%3E%3Ccircle cx=%221190%22 cy=%22641.973%22 r=%228%22%2F%3E%3Ccircle cx=%221224%22 cy=%22627.44%22 r=%228%22%2F%3E%3Ccircle cx=%221258%22 cy=%22528.068%22 r=%228%22%2F%3E%3Ccircle cx=%221292%22 cy=%22911.203%22 r=%228%22%2F%3E%3Ccircle cx=%221326%22 cy=%22723.266%22 r=%228%22%2F%3E%3Ccircle cx=%221360%22 cy=%22505.513%22 r=%228%22%2F%3E%3Ccircle cx=%221394%22 cy=%22815.874%22 r=%228%22%2F%3E%3Ccircle cx=%221428%22 cy=%22596.779%22 r=%228%22%2F%3E%3Ccircle cx=%221462%22 cy=%22597.414%22 r=%228%22%2F%3E%3Ccircle cx=%221496%22 cy=%22555.234%22 r=%228%22%2F%3E%3Ccircle cx=%221530%22 cy=%22818.779%22 r=%228%22%2F%3E%3Ccircle cx=%221564%22 cy=%22416.204%22 r=%228%22%2F%3E%3Ccircle cx=%221598%22 cy=%22814.382%22 r=%228%22%2F%3E%3Ccircle cx=%221632%22 cy=%22259.969%22 r=%228%22%2F%3E%3Ccircle cx=%221666%22 cy=%22343.731%22 r=%228%22%2F%3E%3Ccircle cx=%221700%22 cy=%22332.201%22 r=%228%22%2F%3E%3Ccircle cx=%221734%22 cy=%22307.731%22 r=%228%22%2F%3E%3Ccircle cx=%221768%22 cy=%22316.77%22 r=%228%22%2F%3E%3Ccircle cx=%221802%22 cy=%22606.102%22 r=%228%22%2F%3E%3Ccircle cx=%221836%22 cy=%22209.108%22 r=%228%22%2F%3E%3Ccircle cx=%221870%22 cy=%22305.214%22 r=%228%22%2F%3E%3Ccircle cx=%221904%22 cy=%22695.086%22 r=%228%22%2F%3E%3Ccircle cx=%221938%22 cy=%22292.343%22 r=%228%22%2F%3E%3Ccircle cx=%221972%22 cy=%22181.076%22 r=%228%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
  

.magicpattern { 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 1388.103c21-8.405 63-24.527 105-42.027s63-29.29 105-45.47 63-22.976 105-35.428c42-12.452 63-14.05 105-26.832 42-12.783 63-22.787 105-37.082 42-14.294 63-20.78 105-34.39s63 4.37 105-33.66c42-38.03 63-89.696 105-156.491 42-66.795 63-133.1 105-177.483 42-44.383 63-31.72 105-44.434 42-12.714 63-11.118 105-19.135 42-8.017 63-19.17 105-20.95 42-1.78 63 59.084 105 12.051s63-187.297 105-247.216c42-59.919 63-99.74 105-52.378 42 47.363 63 309.4 105 289.191 42-20.208 63-375.947 105-390.232 42-14.285 63 302.237 105 318.809 42 16.571 84-188.76 105-235.95l5 991.004H0Z%22 fill=%22%23444cf71a%22%2F%3E%3Cpath d=%22M0 1388.103c21-8.405 63-24.527 105-42.027s63-29.29 105-45.47 63-22.976 105-35.428c42-12.452 63-14.05 105-26.832 42-12.783 63-22.787 105-37.082 42-14.294 63-20.78 105-34.39s63 4.37 105-33.66c42-38.03 63-89.696 105-156.491 42-66.795 63-133.1 105-177.483 42-44.383 63-31.72 105-44.434 42-12.714 63-11.118 105-19.135 42-8.017 63-19.17 105-20.95 42-1.78 63 59.084 105 12.051s63-187.297 105-247.216c42-59.919 63-99.74 105-52.378 42 47.363 63 309.4 105 289.191 42-20.208 63-375.947 105-390.232 42-14.285 63 302.237 105 318.809 42 16.571 84-188.76 105-235.95%22 fill=%22none%22 stroke=%22%23444cf7%22 stroke-width=%224%22%2F%3E%3Cg fill=%22%23444cf7%22%3E%3Ccircle cy=%221388.103%22 r=%228%22%2F%3E%3Ccircle cx=%22105%22 cy=%221346.076%22 r=%228%22%2F%3E%3Ccircle cx=%22210%22 cy=%221300.606%22 r=%228%22%2F%3E%3Ccircle cx=%22315%22 cy=%221265.178%22 r=%228%22%2F%3E%3Ccircle cx=%22420%22 cy=%221238.346%22 r=%228%22%2F%3E%3Ccircle cx=%22525%22 cy=%221201.264%22 r=%228%22%2F%3E%3Ccircle cx=%22630%22 cy=%221166.874%22 r=%228%22%2F%3E%3Ccircle cx=%22735%22 cy=%221133.214%22 r=%228%22%2F%3E%3Ccircle cx=%22840%22 cy=%22976.723%22 r=%228%22%2F%3E%3Ccircle cx=%22945%22 cy=%22799.24%22 r=%228%22%2F%3E%3Ccircle cx=%221050%22 cy=%22754.806%22 r=%228%22%2F%3E%3Ccircle cx=%221155%22 cy=%22735.671%22 r=%228%22%2F%3E%3Ccircle cx=%221260%22 cy=%22714.722%22 r=%228%22%2F%3E%3Ccircle cx=%221365%22 cy=%22726.772%22 r=%228%22%2F%3E%3Ccircle cx=%221470%22 cy=%22479.556%22 r=%228%22%2F%3E%3Ccircle cx=%221575%22 cy=%22427.178%22 r=%228%22%2F%3E%3Ccircle cx=%221680%22 cy=%22716.369%22 r=%228%22%2F%3E%3Ccircle cx=%221785%22 cy=%22326.137%22 r=%228%22%2F%3E%3Ccircle cx=%221890%22 cy=%22644.946%22 r=%228%22%2F%3E%3Ccircle cx=%221995%22 cy=%22408.996%22 r=%228%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
  .magicpattern2 { 
    position: relative;
    width: 60px;
    height: 70px;
    bottom: 40px;
    
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 1397.656c6.8-2.204 20.4-5.302 34-11.02 13.6-5.718 20.4-8.545 34-17.569 13.6-9.024 20.4-20.11 34-27.55 13.6-7.44 20.4-1.883 34-9.647 13.6-7.763 20.4-19.639 34-29.172 13.6-9.533 20.4-6.148 34-18.494 13.6-12.347 20.4-38.512 34-43.24 13.6-4.727 20.4 11.945 34 19.603 13.6 7.657 20.4 22.734 34 18.686 13.6-4.048 20.4-13.014 34-38.926 13.6-25.913 20.4-85.159 34-90.636 13.6-5.477 20.4 45.06 34 63.251 13.6 18.19 20.4 47.594 34 27.703 13.6-19.89 20.4-95.072 34-127.155 13.6-32.083 20.4-45.495 34-33.26 13.6 12.235 20.4 90.528 34 94.435 13.6 3.906 20.4-46.4 34-74.902 13.6-28.5 20.4-64.356 34-67.603 13.6-3.246 20.4 60.293 34 51.372 13.6-8.92 20.4-95.263 34-95.974 13.6-.711 20.4 80.333 34 92.417 13.6 12.085 20.4 7.506 34-31.996 13.6-39.502 20.4-120.828 34-165.515 13.6-44.687 20.4-55.357 34-57.92 13.6-2.562 20.4 20.08 34 45.108 13.6 25.028 20.4 82.388 34 80.03 13.6-2.36 20.4-79.312 34-91.824 13.6-12.513 20.4 14.198 34 29.26 13.6 15.062 20.4 78.093 34 46.05 13.6-32.043 20.4-157.026 34-206.266 13.6-49.24 20.4-26.26 34-39.935 13.6-13.675 20.4-80.485 34-28.44 13.6 52.044 20.4 233.405 34 288.664 13.6 55.258 20.4 48.672 34-12.372 13.6-61.043 20.4-231.37 34-292.846 13.6-61.476 20.4 8.248 34-14.533 13.6-22.78 20.4-156.124 34-99.372 13.6 56.753 20.4 344.095 34 383.135 13.6 39.04 20.4-106.8 34-187.937 13.6-81.139 20.4-236.275 34-217.753 13.6 18.521 20.4 292.107 34 310.36 13.6 18.254 20.4-175.402 34-219.094 13.6-43.692 20.4 8.944 34 .635 13.6-8.31 20.4-86.453 34-42.18 13.6 44.273 20.4 291.351 34 263.545 13.6-27.806 20.4-401.696 34-402.575 13.6-.88 20.4 429.425 34 398.178 13.6-31.247 20.4-460.283 34-554.413 13.6-94.13 20.4 69.316 34 83.762 13.6 14.447 20.4-4.33 34-11.53 13.6-7.2 20.4-21.383 34-24.47 13.6-3.086 20.4-50.636 34 9.039 13.6 59.674 20.4 310.864 34 289.332 13.6-21.532 20.4-336.816 34-396.994 13.6-60.178 20.4-1.09 34 96.106 13.6 97.195 20.4 392.446 34 389.872 13.6-2.574 20.4-299.94 34-402.743 13.6-102.802 27.2-89.014 34-111.267L2000 1400H0Z%22 fill=%22%23444cf71a%22%2F%3E%3Cpath d=%22M0 1397.656c6.8-2.204 20.4-5.302 34-11.02 13.6-5.718 20.4-8.545 34-17.569 13.6-9.024 20.4-20.11 34-27.55 13.6-7.44 20.4-1.883 34-9.647 13.6-7.763 20.4-19.639 34-29.172 13.6-9.533 20.4-6.148 34-18.494 13.6-12.347 20.4-38.512 34-43.24 13.6-4.727 20.4 11.945 34 19.603 13.6 7.657 20.4 22.734 34 18.686 13.6-4.048 20.4-13.014 34-38.926 13.6-25.913 20.4-85.159 34-90.636 13.6-5.477 20.4 45.06 34 63.251 13.6 18.19 20.4 47.594 34 27.703 13.6-19.89 20.4-95.072 34-127.155 13.6-32.083 20.4-45.495 34-33.26 13.6 12.235 20.4 90.528 34 94.435 13.6 3.906 20.4-46.4 34-74.902 13.6-28.5 20.4-64.356 34-67.603 13.6-3.246 20.4 60.293 34 51.372 13.6-8.92 20.4-95.263 34-95.974 13.6-.711 20.4 80.333 34 92.417 13.6 12.085 20.4 7.506 34-31.996 13.6-39.502 20.4-120.828 34-165.515 13.6-44.687 20.4-55.357 34-57.92 13.6-2.562 20.4 20.08 34 45.108 13.6 25.028 20.4 82.388 34 80.03 13.6-2.36 20.4-79.312 34-91.824 13.6-12.513 20.4 14.198 34 29.26 13.6 15.062 20.4 78.093 34 46.05 13.6-32.043 20.4-157.026 34-206.266 13.6-49.24 20.4-26.26 34-39.935 13.6-13.675 20.4-80.485 34-28.44 13.6 52.044 20.4 233.405 34 288.664 13.6 55.258 20.4 48.672 34-12.372 13.6-61.043 20.4-231.37 34-292.846 13.6-61.476 20.4 8.248 34-14.533 13.6-22.78 20.4-156.124 34-99.372 13.6 56.753 20.4 344.095 34 383.135 13.6 39.04 20.4-106.8 34-187.937 13.6-81.139 20.4-236.275 34-217.753 13.6 18.521 20.4 292.107 34 310.36 13.6 18.254 20.4-175.402 34-219.094 13.6-43.692 20.4 8.944 34 .635 13.6-8.31 20.4-86.453 34-42.18 13.6 44.273 20.4 291.351 34 263.545 13.6-27.806 20.4-401.696 34-402.575 13.6-.88 20.4 429.425 34 398.178 13.6-31.247 20.4-460.283 34-554.413 13.6-94.13 20.4 69.316 34 83.762 13.6 14.447 20.4-4.33 34-11.53 13.6-7.2 20.4-21.383 34-24.47 13.6-3.086 20.4-50.636 34 9.039 13.6 59.674 20.4 310.864 34 289.332 13.6-21.532 20.4-336.816 34-396.994 13.6-60.178 20.4-1.09 34 96.106 13.6 97.195 20.4 392.446 34 389.872 13.6-2.574 20.4-299.94 34-402.743 13.6-102.802 27.2-89.014 34-111.267%22 fill=%22none%22 stroke=%22%23444cf7%22 stroke-width=%224%22%2F%3E%3Cg fill=%22%23444cf7%22%3E%3Ccircle cy=%221397.656%22 r=%228%22%2F%3E%3Ccircle cx=%2234%22 cy=%221386.636%22 r=%228%22%2F%3E%3Ccircle cx=%2268%22 cy=%221369.067%22 r=%228%22%2F%3E%3Ccircle cx=%22102%22 cy=%221341.517%22 r=%228%22%2F%3E%3Ccircle cx=%22136%22 cy=%221331.87%22 r=%228%22%2F%3E%3Ccircle cx=%22170%22 cy=%221302.698%22 r=%228%22%2F%3E%3Ccircle cx=%22204%22 cy=%221284.204%22 r=%228%22%2F%3E%3Ccircle cx=%22238%22 cy=%221240.964%22 r=%228%22%2F%3E%3Ccircle cx=%22272%22 cy=%221260.567%22 r=%228%22%2F%3E%3Ccircle cx=%22306%22 cy=%221279.253%22 r=%228%22%2F%3E%3Ccircle cx=%22340%22 cy=%221240.327%22 r=%228%22%2F%3E%3Ccircle cx=%22374%22 cy=%221149.691%22 r=%228%22%2F%3E%3Ccircle cx=%22408%22 cy=%221212.942%22 r=%228%22%2F%3E%3Ccircle cx=%22442%22 cy=%221240.645%22 r=%228%22%2F%3E%3Ccircle cx=%22476%22 cy=%221113.49%22 r=%228%22%2F%3E%3Ccircle cx=%22510%22 cy=%221080.23%22 r=%228%22%2F%3E%3Ccircle cx=%22544%22 cy=%221174.665%22 r=%228%22%2F%3E%3Ccircle cx=%22578%22 cy=%221099.763%22 r=%228%22%2F%3E%3Ccircle cx=%22612%22 cy=%221032.16%22 r=%228%22%2F%3E%3Ccircle cx=%22646%22 cy=%221083.532%22 r=%228%22%2F%3E%3Ccircle cx=%22680%22 cy=%22987.558%22 r=%228%22%2F%3E%3Ccircle cx=%22714%22 cy=%221079.975%22 r=%228%22%2F%3E%3Ccircle cx=%22748%22 cy=%221047.979%22 r=%228%22%2F%3E%3Ccircle cx=%22782%22 cy=%22882.464%22 r=%228%22%2F%3E%3Ccircle cx=%22816%22 cy=%22824.544%22 r=%228%22%2F%3E%3Ccircle cx=%22850%22 cy=%22869.652%22 r=%228%22%2F%3E%3Ccircle cx=%22884%22 cy=%22949.682%22 r=%228%22%2F%3E%3Ccircle cx=%22918%22 cy=%22857.858%22 r=%228%22%2F%3E%3Ccircle cx=%22952%22 cy=%22887.118%22 r=%228%22%2F%3E%3Ccircle cx=%22986%22 cy=%22933.168%22 r=%228%22%2F%3E%3Ccircle cx=%221020%22 cy=%22726.902%22 r=%228%22%2F%3E%3Ccircle cx=%221054%22 cy=%22686.967%22 r=%228%22%2F%3E%3Ccircle cx=%221088%22 cy=%22658.526%22 r=%228%22%2F%3E%3Ccircle cx=%221122%22 cy=%22947.191%22 r=%228%22%2F%3E%3Ccircle cx=%221156%22 cy=%22934.819%22 r=%228%22%2F%3E%3Ccircle cx=%221190%22 cy=%22641.973%22 r=%228%22%2F%3E%3Ccircle cx=%221224%22 cy=%22627.44%22 r=%228%22%2F%3E%3Ccircle cx=%221258%22 cy=%22528.068%22 r=%228%22%2F%3E%3Ccircle cx=%221292%22 cy=%22911.203%22 r=%228%22%2F%3E%3Ccircle cx=%221326%22 cy=%22723.266%22 r=%228%22%2F%3E%3Ccircle cx=%221360%22 cy=%22505.513%22 r=%228%22%2F%3E%3Ccircle cx=%221394%22 cy=%22815.874%22 r=%228%22%2F%3E%3Ccircle cx=%221428%22 cy=%22596.779%22 r=%228%22%2F%3E%3Ccircle cx=%221462%22 cy=%22597.414%22 r=%228%22%2F%3E%3Ccircle cx=%221496%22 cy=%22555.234%22 r=%228%22%2F%3E%3Ccircle cx=%221530%22 cy=%22818.779%22 r=%228%22%2F%3E%3Ccircle cx=%221564%22 cy=%22416.204%22 r=%228%22%2F%3E%3Ccircle cx=%221598%22 cy=%22814.382%22 r=%228%22%2F%3E%3Ccircle cx=%221632%22 cy=%22259.969%22 r=%228%22%2F%3E%3Ccircle cx=%221666%22 cy=%22343.731%22 r=%228%22%2F%3E%3Ccircle cx=%221700%22 cy=%22332.201%22 r=%228%22%2F%3E%3Ccircle cx=%221734%22 cy=%22307.731%22 r=%228%22%2F%3E%3Ccircle cx=%221768%22 cy=%22316.77%22 r=%228%22%2F%3E%3Ccircle cx=%221802%22 cy=%22606.102%22 r=%228%22%2F%3E%3Ccircle cx=%221836%22 cy=%22209.108%22 r=%228%22%2F%3E%3Ccircle cx=%221870%22 cy=%22305.214%22 r=%228%22%2F%3E%3Ccircle cx=%221904%22 cy=%22695.086%22 r=%228%22%2F%3E%3Ccircle cx=%221938%22 cy=%22292.343%22 r=%228%22%2F%3E%3Ccircle cx=%221972%22 cy=%22181.076%22 r=%228%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
  
  

.graphic-block{
    display: grid;
   
}
.first-block{
    background-color: white;
    padding: 10px;
}
.third-block{
    display: flex;
    gap: 5px;
    padding-top: 5%;
}
.green1{
    background-color: chartreuse;
    /* padding: 7%; */
    width: 200px;
}
.green2{
    background-color:white ;
    /* padding: 7%; */
    width: 200px;
}
.gallery {
 
    padding-top: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, 1fr); 
  }
  
  .gallery-item {
    position: relative; 
  }
  
  .gallery-item img {
    width: 40%;
    
    object-fit: cover;
  }
  
  .gallery-item a {
    display: block; 
    position: absolute; 
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%); 
    text-decoration: none; 
    background-color: rgba(0, 0, 0, 0.5); 
   color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease; 
  }
  
  .gallery-item a:hover {
    background-color: rgba(0, 0, 0, 0.7); 
  }
  